<md-dialog aria-label="Errors">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Errors</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Need to fill the below Fields</h2>
                <p ng-repeat="column in catchInvalidColumns">{{column.table}} :-
                    <span ng-repeat="col in column.column">{{col}}{{$last ? '' : ', '}}</span>
                </p>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="hide()">
                Close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
<style>
    .dialogdemoBasicUsage #popupContainer {
        position: relative; }

    .dialogdemoBasicUsage .footer {
        width: 100%;
        text-align: center;
        margin-left: 20px; }

    .dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
        font-size: 0.8em;
        margin-top: 50px; }

    .dialogdemoBasicUsage button {
        width: 200px; }

    .dialogdemoBasicUsage div#status {
        color: #c60008; }

    .dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
        margin-bottom: 0; }

</style>